
img {
  height: 300px;
}

input {
  display: block;
  margin: 0;
}

.question-wrapper {
  margin: 0;
  margin-right: 0;
}

.question-answers {
  padding-left: 100px;
  padding-right: 100px;
}

.question-answers p {
  height: 55px;
  width: 100%;
  display: block;
  font-size: 2rem;
  cursor: pointer;
}

.question-answers p:hover {
  color: #EC971F;
}

.result {
  margin-bottom: 20px;
}

.overlay {
  background-color: rgba(150,150,150,.6);
  padding-left: 100px;
  padding-right: 100px;
  z-index: 5;
  /*position: fixed;*/
  top: 110;
  left: 0;
}

.overlay p {
  height: 55px;
  width: 100%;
  display: block;
  font-size: 2rem;
  z-index: 0;
  background-color: rgba(150,150,150,.2);
  color: rgba(150,150,150,1);
}

.overlay h2 {
  width: 100%;
  display: block;
  font-size: 3rem;
  z-index: 0;
  background-color: rgba(150,150,150,.2);
  color: rgba(150,150,150,1);
}
